{% extends 'base.html.twig' %}

{% block title %}Ma commandes - La Boutique Française{% endblock %}

{% block content %}
    <h2 class="mt-5">Numéro de commande {{ order.reference }}</h2>


    <a href="{{ path('app_account_order') }}">Retour</a>
    <br/>

    <strong>Statut de la commande :</strong>
    {% if order.state == 1 %}
        Le payement est validé
    {% elseif order.state == 2 %}
        La commande est en cours de préparation
    {% elseif order.state == 3 %}
        La commande est en cours de livraison
    {% endif %}
    <br/>


    <div class="block-small">
        <h1 class="h3 mb-3 font-weight-normal gestion">Modification du statut de la commande</h1>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info"><p class="gestion">{{ message }}</p></div>
        {% endfor %}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info"><p class="gestion">{{ message }}</p></div>
        {% endfor %}
        <p class="gestion">Mettre à jour l'état de la commande :</p>

        {{ form_start(form) }}
        <p class="gestion">
            Définir l'état de la commande
        </p>

        {{ form_row(form.state) }}

        {{ form_row(form.submit) }}

        {{ form_end(form) }}
    </div>

    <strong>Référence de ma commande :</strong> <small>{{ order.reference }}</small><br/>
{% endblock %}