
    <div class="product-item text-center">
        <a href="{{ path('product' , {'slug' : product.slug}) }}">
            <div class="drop-shadow">
        <img src="/uploads/{{ product.illustration }}" alt="" class="img-fluid">
            </div>
        </a>

        <h5 style="color: #FFBB4F; font-weight: bold">{{ product.name }}</h5>
        <span class="product-subtitle">{{ product.subtitle }}</span>
        <span class="product-price">{{ product.price / 100|number_format(2) }}€</span>
    </div>
